@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display';
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@font-face {
  font-family: 'montserrat';
  src: url(/font/Montserrat-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'anton';
  src: url(/font/anton.ttf) format('truetype');
}

@font-face {
  font-family: 'rothefight';
  src: url(/font/ROTHEFIGHT.otf) format('opentype');
}

@theme {
  --font-redhat: 'Red Hat Display', sans-serif;
  --font-montserrat: 'montserrat', sans-serif;
  --font-rothefight: 'rothefight', sans-serif;
  --font-anton: 'Anton', sans-serif;

  --color-light: #e9ecef;
  --color-dark: #111519;
  --text-light: #e9ecef;
}

section {
  margin: 0;
  padding: 0;
  display: block;
}

.indicator-line {
  width: 1px;
  height: 6px;
  background-color: #fff;
  opacity: 1;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 6px;
    transform: translateY(-0px);
  }
  50% {
    height: 20px;
    transform: translateY(-4px);
  }
  100% {
    height: 6px;
    transform: translateY(-0px);
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
